<div class="container">       
    <h2> Technology </h2>
    <!--Techniex-->        
      <div id="techniex" class="card-panel grey lighten-5 z-depth-1 hoverable section scrollspy">
        <div class="row valign-wrapper">
            <div class="col hide-on-small-only m4">
              <img src="img/bfidefault.png" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s12 m8">
                <div class="card-content black-text">
                    <h3>Techniex</h3>
                    <h5>Technology Explorer</h5>
                    <p class="flow-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
                  <div class="card-action right-align">
                    <a class="btn modal-trigger" herf="#modalcs"><i class="material-icons medium white-text">arrow_forward</i></a>
                  </div>
            </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l3">
              <div class="center promo card-panel">
                <i class="large material-icons">layers</i>
              <p class="promo-caption">Speeds up development</p>
              <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
              </div>
          </div>
    
          <div class="col s12 m6 l3">
              <div class="center promo card-panel">
                <i class="large material-icons">group</i>
              <p class="promo-caption">User Experience Focused</p>
              <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
              </div>
          </div>
    
          <div class="col s12 m6 l3">
              <div class="center promo card-panel">
                <i class="large material-icons">memory</i>
              <p class="promo-caption">Easy to work with</p>
              <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
              </div>
          </div>
    
          <div class="col s12 m6 l3">
            <div class="center promo card-panel">
                <i class="large material-icons">tune</i>
            <p class="promo-caption">Easy to work with</p>
            <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
        </div>
    </div>
</div>  