<footer class="page-footer">
    <div class="container">
    <div class="row">
        <div class="col l4 m6 s12">
        <h5 class="white-text">Kumar & Gaur Pvt. Ltd.</h5>
        <p class="grey-text text-lighten-4">Techniex is the main technology wing of Kumar & Gaur Pvt. Ltd., which provides services and solution related to emerging technologies, along with e-learning options.</p>
        </div>
        <div class="col l8 m6 s12">
        <div class="row">
            <div class="col l3 m6 s12 right-align">              
            <h5 class="white-text">Conglomerate</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Techniex</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Act-O-Fit</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Fame Mithila</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Swayam Arts</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Kumar & Gaur Foundation</a></li>
            </ul>
            </div>
            <div class="col l3 m6 s12 right-align">            
            <h5 class="white-text">Site Links</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Journal</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Recite</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Reckon</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Critique</a></li>
            </ul></div>  
            <div class="col l3 m6 s12 right-align">           
            <h5 class="white-text">Policies</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Terms of use</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Disclaimer</a></li>
            <li><a class="grey-text text-lighten-3" href="policies/privacy.html">Privacy</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Security</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Sitemap</a></li>
            </ul></div>   
            <div class="col l3 m6 s12 right-align">     
            <h5 class="white-text">About</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Advertise</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">News</a></li>
            </ul></div>         
        </div>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
        <div class="row">
        <div class="col s12 m8">
            © 2021 Copyright Techniex.com   
        </div>
        <div class="col s12 m4 right-align">
            <i class="fab fa-facebook fa-2x"></i>
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-reddit fa-2x"></i>
            <i class="fab fa-linkedin-in fa-2x"></i>
            <i class="fab fa-github fa-2x"></i>
        </div>
        </div>
    </div>
    </div>
</footer>
    <script type="text/javascript" src="./js/materialize.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems, {indicators: true, height:600});
        });
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(elems, options);
        });   
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, {hover:true, coverTrigger:false});
        });   
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
        });           
    </script>
    <!--script>M.AutoInit()</script-->
</body>
</html>